/* @import "node_modules/bulma/sass/utilities/_all"; */
/* @import "node_modules/bulma/sass/grid/columns"; */
/* @import "node_modules/bulma/sass/elements/button.sass"; */


// 1. Import the initial variables
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
/* $blue: #72d0eb; */
// Add pink and its invert
/* $pink: #ffb3b3; */
/* $pink-invert: #fff; */
// Add a serif family
/* $family-serif: "Merriweather", "Georgia", serif; */

// 3. Set the derived variables
// Use the new pink as the primary color
/* $primary: $pink; */
/* $primary-invert: $pink-invert; */
// Use the existing orange as the danger color
/* $danger: $orange; */
// Use the new serif family
/* $family-primary: $family-serif; */

// 4. Setup your Custom Colors
/* $linkedin: #0077b5; */
/* $linkedin-invert: findColorInvert($linkedin); */
/* $twitter: #55acee; */
/* $twitter-invert: findColorInvert($twitter); */
/* $github: #333; */
/* $github-invert: findColorInvert($github); */

// 5. Add new color variables to the color map.
@import "node_modules/bulma/sass/utilities/derived-variables.sass";
/* $addColors: ( */
/*   "twitter":($twitter, $twitter-invert), */
/*   "linkedin": ($linkedin, $linkedin-invert), */
/*   "github": ($github, $github-invert) */
/* ); */
/* $colors: map-merge($colors, $addColors); */

.elm-agenda__calendar-header {
    display: grid;
    grid-template-areas: "mc ae . . . . . . pc pc";
}

.elm-agenda__mode-controls {
    grid-area: mc;
}

.elm-agenda__add-event {
    grid-area: ae;
}

.elm-agenda__pagination-controls {
    grid-area: pc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elm-agenda__day-calendar {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
}

.elm-agenda__hours-column {
    display: grid;
    grid-template-rows: 80px repeat(24, minmax(80px, 80px));
}

.elm-agenda__schedule-column {
    display: grid;
    grid-template-rows: 80px repeat(96, minmax(20px, 20px));
}

.elm-agenda__hours-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.elm-agenda__schedule-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.elm-agenda__hours-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.elm-agenda__schedule-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-top: dotted 0.7px;
    z-index: 1;
}

.elm-agenda__schedule-event-item-preview {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    background-color: $grey-lighter;
    border-radius: 2px;
    padding: 1px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 2;
}

.elm-agenda__schedule-event-item {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    background-color: $primary;
    border-radius: 2px;
    padding: 1px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 2;
}

.elm-agenda__schedule-event-content {
    display: flex;
    flex-flow: column wrap;
    grid-row: 1 / 4;
    grid-column: 1;
}

.elm-agenda__schedule-event-summary {
}

.elm-agenda__schedule-event-time {
    flex-grow: 1;
}

.elm-agenda__schedule-event-remove-button {
    margin-left: auto;
    z-index: 4;
}

.schedule-event-remove-link {
    color: $primary-invert;
}

.elm-agenda__schedule-event-move-handle {
    grid-row: 1 / 2;
    grid-column: 1;
    z-index: 3;
}

.elm-agenda__schedule-event-extend-handle {
    grid-row: 2 / 3;
    grid-column: 1;
    z-index: 3;
}

// 6. Import the rest of Bulma
@import "node_modules/bulma/bulma";
